[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/MetalSage/RobustToolbox
	branch = master
[submodule "RSI.NET"]
	path = RSI.NET
	url = https://github.com/space-wizards/RSI.NET.git
